<section class="mainContainer">
  <div class="container">
    <div
      class="d-flex justify-content-center alig-item-center pt-3 px-1 searchSection commonClass"
    >
      <mat-form-field appearance="outline" class="formfield">
        <mat-label>Search Github Users</mat-label>
        <input matInput #search placeholder="Search Github Users" />
      </mat-form-field>
    </div>
    <div class="dataSection commonClass">
      <div *ngFor="let data of userData">
        <div class="d-flex justify-content-between py-3 px-5">
          <h4 class="mt-3 text-lg font-semibold text-gray-800">
            {{ data.login }}
          </h4>
          <div class="imageDiv">
            <img class="img-fluid" [src]="data.avatar_url" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
